#cGLinksSection{margin-left: 35vw; display: none; overflow: auto; max-height: 45vh; position: absolute;}

#cGLinks{list-style-type: none; margin-top: 3vh;}

#cGLinks li{padding-bottom: 8px;}

#cGTree{display: none; margin-top: 4.5vh; margin-left: 10vw;}

#cGSelectLinkMsg{margin-left: 2vw; }

.cGMessage{margin-left: 2vw; display: none;}

.displayNone{display: none;}

#cGDiscretionaryAdvisoryPortfoliosTitle{margin-top: 0;}